@tailwind base;
@tailwind components;
@tailwind utilities;



body{
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes floating {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-5px);
  }
}

.animate-floating {
  animation: floating 3s ease-in-out infinite;
}


.vintage-image {
  border-radius: 8px; 
  filter: sepia(40%) contrast(0.9) brightness(1.1); 
  transition: transform 0.3s ease-in-out;
}

.vintage-image:hover {
  transform: scale(1.02) ;
  transition: transform 0.3s ease-in-out; 
}

.sepia-overlay::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/path/to/overlay-texture.png');
  opacity: 0.15; 
  pointer-events: none; 
}
